'use strict'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f2a54a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainSection {
    display: grid;
    grid-template-areas: 'title' 'cards';
    grid-template-columns: 80vw;
    grid-template-rows: 30vh 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

p {
    font-size: 0.85rem;
    color: white;
}

header {
    grid-area: title;
    display: flex;
}

h1 {
    font-size: 8rem;
    color: white;
    white-space: nowrap;
    animation: focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    align-self: flex-end;
}

main {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s;
    animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.card:hover {
    transform: scale(1.1);
}

.cardTop {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.circle {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    background-color: black;
    overflow: hidden;
}

.card img {
    max-width: 8rem;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.socialMedia img {
    width: 2rem;
    border-radius: 1rem;
}

.cardDown {
    background-color: #7000ff;
    padding: 1rem;
    flex-grow: 1;
}

@media screen and (max-width: 900px) {
    .mainSection {
        grid-template-rows: auto auto;
    }
    h1 {
        font-size: 4rem;
        white-space: normal;
    }
    main {
        margin-top: 2rem;
        flex-direction: column;
        max-width: 40vw;
        gap: 1rem
    }
}

@keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
