* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background: black;
    color: white;
    padding: 2px;
}

header {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 50px;
}
  
header p {
    color: white;
    font-size: 50px;
}

h2 {
  text-decoration: underline gray;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    background: gray;
    width: 850px;
    margin: 1px;
}

.comentario {
    background: gray;
    height: 1800px;
}

button {
    display: flex;
    flex-direction: column;
}
