* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Haz que el formulario siempre esté centrado en la pantalla y que tenga un ancho máximo de 800px y un ancho mínimo de 400px. */
form {
    max-width: 800px;
    min-width: 400px;
    text-align: center;
}

/* Haz que todos los campos obligatorios aparezcan con un borde rojo.*/
input {
    border: 1px solid red;
}

/* Haz que todos los fieldsets tengan fondo gris claro y un padding de `1rem`.*/
fieldset {
    background: rgb(200, 200, 200);
    padding: 1rem;
}

/* Haz que al pasar por encima el ratón de los fieldsets cambien de color de fondo a un gris más oscuro.*/
fieldset:hover {
    background: grey;
}

/* Haz que el primer y último fieldset tengan un borde inferior de color negro y de 5 píxeles de ancho.*/
fieldset:nth-of-type(1) {
    border-bottom: 5px solid black;
}

fieldset:nth-of-type(12) {
    border-bottom: 5px solid black;
}

/* Haz que el botón de envío tenga fondo negro, texto blanco y no tenga borde.*/
button {
    background: black;
    border: 0;
    color: white;
}



